canvas{

border: 5px;
border-color: white;
border-style: solid;
background-image: url('campo_resized.webp.png');
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); 
}

body{

    background-image: url("fundo (1\).gif");
}

.Jogador1{

    background-color: rgb(2, 0, 3);
    height: 300px;
    width: 200px;
    position: relative;
    left: 60px;
    top: 185px;
    color: white;

}

.nome1{

background-color: rgb(54, 0, 81);
font-size: 40px;
position: relative;
font-family: cursive;

}

.num1{

    font-size: 100px;
    position: relative;
    left: 70px;
    top: -40px;

}

.Jogador2{

    background-color: rgb(2, 0, 3);
    height: 300px;
    width: 200px;
    position: relative;
    top: -150px;
    color: white;
    left: 1250px;


}

.nome2{

    background-color: rgb(0, 121, 111);
    font-size: 40px;
    position: relative;
    font-family: cursive;
    
    }

.num2{

        font-size: 100px;
        position: relative;
        left: 70px;
        top: -40px;
    
}